[submodule "Unity/Packages/UnityExtensions"]
	path = Unity/Packages/UnityExtensions
	url = git@github.com:canghuolong/UnityExtensions.git
[submodule "Unity/Packages/CSharpExtensions"]
	path = Unity/Packages/CSharpExtensions
	url = git@github.com:canghuolong/CSharpExtensions.git
