[submodule "Unity/Packages/UnityExtensions"]
	path = Unity/Packages/UnityUtils
	url = git@github.com:canghuolong/UnityExtensions.git
[submodule "Unity/Packages/CSharpExtensions"]
	path = Unity/Packages/CSharpUtils
	url = git@github.com:canghuolong/CSharpExtensions.git
[submodule "Unity/Packages/ActionSequence"]
	path = Unity/Packages/ActionSequence
	url = git@github.com:canghuolong/ActionSequence.git
